 /* Colors */
$clr1: #ce2e6c;
$clr2: #4f3a65;
$clr3: #574f7d;
$clr4: #95adbe;
$clr5: #dff0ea;
$clr6: #fff;
$clr7: #222;

 /* Breakpoints */
$mobile-breakpoint: 400px;
$narrow-breakpoint: 1000px;
$normal-breakpoint: 1500px;
$wide-breakpoint: 2000px;